<%if @user%>
  <h2 class="center"> Welcome, <%=@user.email%></h2>
<%else%>
  <h2 class="center">Welcome to Makers BnB </h2>
<%end%>

<h3> Book a space </h3>

<div>
  <form action="/listings/new" method="get">
    <input type="submit" value="List a space">
  </form>
</div>

<ul>
  <% @listings.each do |listing| %>
<title>Listings</title>
  <link rel="stylesheet" href="../../stylesheets/application.css">

  <div class="listing-container">
    <li>
      <div><strong><%= listing.name %></strong><div>
      <div><label>Address:</label>
        <%= listing.address %></div>
      <div><label>Description:</label>
        <%= listing.description %></div>
      <div><label>Price per night:</label>
        £<%= listing.price %><div>
        <!--<div><label>Available from:</label> 
          <%= Date.parse(listing.start_date).strftime("%-d %B %Y") %></div>
        <div><label>Available to:</label> 
        <%= Date.parse(listing.end_date).strftime("%-d %B %Y") %></div>-->
      <form action="/book" method="GET">
      <div><input class="button" type="submit" value="Book"></div>
    </li>
  </div>
  <% end %>
</ul>

