<%if @user%>
  <h2> Welcome, <%=@user.email%></h2>
<%else%>
  <h2>Welcome to Makers BnB </h2>
<%end%>

<h2> Book a space </h2>

<div>
  <form action="/listings/new" method="get">
    <input type="submit" value="List a space">
  </form>
</div>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <%= listing.address %>
      <%= listing.name %>
      <%= listing.description %>
      <%= listing.price %>
      <p>Available from: <%= Date.parse(listing.start_date).strftime("%-d %B %Y") %></p>
      <p>Available to: <%= Date.parse(listing.end_date).strftime("%-d %B %Y") %></p>
      <form action="listings/<%= listing.id %>/book" method="get">
        <input type="submit" value="Book">
      </form>
    </li>
  <% end %>
</ul>

