<link rel="stylesheet" href="../../stylesheets/application.css">
<title>Booking form</title>
<div class="listing-container">
     <div><strong> <%=@listing.name%></strong></div>
      <div><strong>Description: </strong><%=@listing.description%></div>
       <div><strong>Listing Price: </strong>£<%=@listing.price%></div>
  <div><strong>Availability window: </strong><%=@listing.start_date%> - <%=@listing.end_date%></div>
  </div>

  <form action='/booking' method='post'>
  <div class="form-container booking-form listing-container">
 
    <label>When would you like to stay?(DD/MM/YY)</label><br>
    <input type="date" name="start_date"><br>
    <input type='hidden' name='listing_id' value='<%=@listing.id%>'>
    <input type='hidden' name='user_id' value='<%=@user_id%>'>
    <input class="button" type="submit" value="Submit"/>
  </div>
</form>  

