<h1>Please enter your details below</h1>

<%=@listing.name%><br>
<%=@listing.description%><br>
<%=@listing.price%><br>
Availability window: <%=@listing.start_date%> - <%=@listing.end_date%><br>

<form action='/booking' method='post'>
  <label>When would you like to stay?(DD/MM/YY)</label><br>
  <input type="date" name="start_date"><br>
  <input type='hidden' name='listing_id' value='<%=@listing.id%>'>
  <input type='hidden' name='user_id' value='<%=@user_id%>'>
  <input type="submit" value="Submit"/>
</form>
